footer{
    background-color: #000000;
    color: #ffffff;
}
.footer-menu,
.footer-contacts,
.footer-bottom{
    padding: 48px 0;
    max-width: 1024px;
    margin: auto;
}
.footer-contacts{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
.footer-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 128px;
}
.footer-menu ul{
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.footer-menu li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}
.footer-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 32px;
}
.contacts .footer-icons{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 32px;
    margin-bottom: 72px;
}
.social .footer-icons{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.btn-icon-text{
    height: 80px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    padding: 0 32px;
}
.btn-icon-text img{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
@media(width>1024px){
    .footer-menu{
        padding-top: 63px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer-menu ul{
        margin-top: 0;
        flex-direction: row;
    }
    .footer-title{
        text-align: left;
    }
    .footer-contacts{
        flex-direction: row;
    }
    .footer-contacts .contacts{
        flex: 1;
    }
    .contacts .footer-icons{
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    .footer-bottom{
        flex-direction: row;
        justify-content: space-between;
    }
}

