@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;
}
main{
    max-width: 1024px;
    margin: auto;
    padding: 32px 0;
}
.btn-icon{
    width: 48px;
    height: 48px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-icon img{
    width: 24px;
    height: 24px;
}
.btn-icon:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.input{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #7f7f7f;
    outline: none;
    padding: 21px 24px;
}
.button{
    background-color: #1d4ffe;
    color: #ffffff;
    font-size: 1.8rem;
    border: 0;
    border-radius: 4px;
    padding: 18px 32px;
    cursor: pointer;
}