/*BREADCRUMB*/
.breadcrumb{
    margin: 0 24px;
    color: #7f7f7f;
    font-size: 1.6rem;
}
@media(width>1024px){
    .breadcrumb{
        margin-top: 32px;
    }
}
/*AREA DO PRODUTO*/
.product{
    display: flex;
    flex-direction: column;
    margin: 32px 24px;
}
.product .photo{
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.product .photo img{
    width: 100%;
}
.product .info{
    flex:1;
    margin-top: 24px;
}
.product .info .id{
    font-size: 1.2rem;
    color:#7f7f7f;
}
.product .info .name{
    font-size: 2.4rem;
    color: black;
    font-weight: bold;
}
.product .info .size{
    font-size: 1.6rem;
    color:#7f7f7f;
    margin-top: 16px;
    margin-bottom: 32px;
}
.product .info .size .size-buttons{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.product .info .price-from{
    font-size: 1.8rem;
    color: #7f7f7f;
}
.product .info .price-from span{
    text-decoration: line-through;
}
.product .info .price-to{
    font-size: 4rem;
    color:#1d4FFE;
    font-weight: bolder;
}
.product .info .payments{
    font-size: 1.8rem;
    color: #7f7f7f;
}
.product .info .buttons{
    display: flex;
    gap: 16px;
    margin-top: 24px;
}
.product .info .buttons .btn-icon{
    width: 63px;
    height: 63px;
}
.product .info .shipping{
    border-top: 1px solid #d9d9d9;
    padding-top: 40px;
    margin-top: 40px;
    font-size: 1.6rem;
    color: #7f7f7f;
}
.product .info .shipping .shipping-input{
    display: flex;
    gap: 16px;
    margin-top: 19px;
}
@media(width>1024px){
    .product{
        flex-direction: row;
        gap: 136px;
    }
    .product .photo-area{
        max-width: 350px;
    }
    .product .info{
        margin-top: 0;
    }
}
/*DESCRIÇÃO DO PRODUTO*/
.description{
    margin: 0 24px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 24px;
}
.description .desc-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 24px;
}
.description .desc-body{
    margin-top: 32px;
}
/*AREA DE RELACIONADOS*/
.related{
    margin:40px 24px;
}
.related-title{
    font-size: 2.4rem;
    font-weight: bold;
    color: black;
}
.related-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 40px;
}
@media(width>1024px){
    .related-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
